In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from collections import Counter
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
file1=open('/content/drive/MyDrive/finalmerge.csv')

In [ ]:
df=pd.read_csv(file1)

In [ ]:

df.shape

(1815405, 51)

In [ ]:
df

         Unnamed: 0  Unnamed: 0_x  FlightDate  ...  WindChillF_y  humidity_y  time_y
0                 0            57  2016-01-01  ...            29          66     700
1                 1        219870  2016-01-01  ...            29          66     700
2                 2        356730  2016-01-01  ...            29          66     700
3                 3        334974  2016-01-01  ...            29          66     700
4                 4        356750  2016-01-01  ...            29          66     700
...             ...           ...         ...  ...           ...         ...     ...
1815400     1815400        453453  2017-09-18  ...            69          92    2200
1815401     1815401        455805  2017-09-21  ...            72          75    2200
1815402     1815402        456636  2017-09-22  ...            71          63    2200
1815403     1815403        457242  2017-09-23  ...            86          55    2100
1815404     1815404        458172  2017-09-24  ...            74          87    2200

[1815405 rows x 51 columns]

In [ ]:
k=[]
for i in df.ArrDelayMinutes:
  if i>=15:
      app=1      
  else:
      app=0
  k.append(app)

In [ ]:
df['TargetDelay']=k

In [ ]:


X=df.drop(["DepDel15", 	"DepDelayMinutes",

           "ArrDelayMinutes",
                "ArrTime",
                "ArrDel15",
                 "Unnamed: 0_x",
                 "Unnamed: 0_y",
                 "Unnamed: 0.1",
                "Origin",
                "Dest",
                "airport_x",
                "airport_y",
                "FlightDate",
                "date_y",
                "date_x",
                "time_x",
                "time_y",
                "windspeedKmph_y",
                "winddirDegree_y",
                "weatherCode_y",
                "precipMM_y",
                "visibility_y",
                "pressure_y",
                "cloudcover_y",
                "DewPointF_y",
                "WindGustKmph_y",
                "tempF_y",
               "WindChillF_y",
               "humidity_y",
           "TargetDelay","Unnamed: 0"],axis=1)
X
Y=df["TargetDelay"]

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 12)

In [ ]:


from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier(n_jobs=-1,random_state = None)
etc.fit(X_train,Y_train)

ExtraTreesClassifier(n_jobs=-1)

In [ ]:
Y_predetc=etc.predict(X_test)

In [ ]:
#ACCURACY

accuracy_score(Y_test, Y_predetc)

0.8357988947938976

In [ ]:



target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predetc,target_names=target_names))

In [ ]:
DecClf=DecisionTreeClassifier()

In [ ]:
DecClf.fit(X_train,Y_train)

DecisionTreeClassifier()

In [ ]:
Y_predDec=DecClf.predict(X_test)

In [ ]:

target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predDec,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.90      0.89      0.89    358621
     Class 1       0.60      0.63      0.61     95231

    accuracy                           0.83    453852
   macro avg       0.75      0.76      0.75    453852
weighted avg       0.84      0.83      0.84    453852

In [ ]:
accuracy_score(Y_test, Y_predDec)

0.8348029754192997

In [ ]:
XGBB=XGBClassifier()

In [ ]:
XGBB.fit(X_train,Y_train)

XGBClassifier()

In [ ]:
Y_predXG=XGBB.predict(X_test)

In [ ]:
from sklearn import metrics
cm=metrics.confusion_matrix(Y_test,Y_predXG)
print(cm)

[[357219   1402]
 [ 63712  31519]]

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_predXG)

0.8565303226602505

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf_clf=RandomForestClassifier(n_estimators = 100)

In [ ]:
rf_clf.fit(X_train,Y_train)

RandomForestClassifier()

In [ ]:
Y_predRF=rf_clf.predict(X_test)

In [ ]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predRF,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.88      0.97      0.92    358621
     Class 1       0.81      0.52      0.63     95231

    accuracy                           0.87    453852
   macro avg       0.84      0.74      0.78    453852
weighted avg       0.87      0.87      0.86    453852

In [ ]:
accuracy_score(Y_test, Y_predRF)

0.8727668931722236

In [ ]:
lr=LogisticRegression(max_iter=1000000)

In [ ]:
lr.fit(X_train,Y_train)

LogisticRegression(max_iter=1000000)

In [ ]:
Y_predLR=lr.predict(X_test)

In [ ]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predLR,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.81      1.00      0.90    358621
     Class 1       0.99      0.15      0.25     95231

    accuracy                           0.82    453852
   macro avg       0.90      0.57      0.58    453852
weighted avg       0.85      0.82      0.76    453852

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_predLR)

0.8202012991019099

In [ ]:
len(Y_predRF)

453852

In [ ]:
weight=pd.DataFrame(X_test)

In [ ]:
weight['PredictDelay']=Y_predRF

In [ ]:

Counter(Y_predRF)

Counter({0: 392676, 1: 61176})

In [ ]:
weight

         Quarter  Year  Month  ...  WindChillF_x  humidity_x  PredictDelay
520289         2  2016      5  ...            55          46             0
1605368        3  2017      7  ...            82          82             1
130689         4  2016     10  ...            80          59             0
200203         4  2016     11  ...            59          73             0
562057         2  2016      5  ...            84          23             0
...          ...   ...    ...  ...           ...         ...           ...
1774151        3  2017      9  ...            64          59             0
1764606        3  2017      9  ...            88          52             0
1518298        2  2017      6  ...            84          24             0
1107123        4  2017     11  ...            55          39             0
1601377        3  2017      7  ...            82          86             0

[453852 rows x 22 columns]

In [ ]:
index = weight.index

condition = weight["PredictDelay"] == 1

indexlist= index[condition]


indexlist = indexlist.tolist()

In [ ]:
len(indexlist)

61176

In [ ]:
dictt={}

k=0
for i in indexlist:
  
    dictt[k]= df.loc[i]
    k+=1

In [ ]:
len(dictt)

61176

In [ ]:
data=pd.DataFrame(dictt)

In [ ]:
data=data.transpose()

In [ ]:
data

      Unnamed: 0 Unnamed: 0_x  FlightDate  ... WindChillF_y humidity_y time_y
0        1605368       380364  2017-07-27  ...           83         70   2200
1         858232        44803  2016-09-08  ...           80         71    800
2        1580428       128154  2017-06-30  ...           64         84    900
3         963048       145973  2017-01-11  ...           34         67   1100
4         714661       195957  2016-07-30  ...           79         82   1800
...          ...          ...         ...  ...          ...        ...    ...
61171     620688       134496  2016-06-20  ...           79         64   1000
61172     185528        28217  2016-11-15  ...           66         43   2000
61173    1306038       359295  2017-03-12  ...            8         60    800
61174    1581007       128297  2017-06-30  ...           96          6   1100
61175      65129       123781  2016-01-17  ...          -19         71   2200

[61176 rows x 51 columns]

In [ ]:
data.to_csv("RegressionData.csv")